/* shared style  */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


/* header style  */
.header {
    background-color: rgba(229, 84, 115, 0.10);


}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 95px;

}

.header-item {
    padding-left: 200px;
    padding-top: 100px;
    padding-bottom: 100px;

}

.header-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 25px;


}

.header-discription {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 25px;
}

.header-btn,
.sign-btn,
.input-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background-color: #E55473;
    border: 0;
    padding: 20px 43px;
}

/* main style  */

.image-section,
.container-section,
.img-section,
.latest-section {
    max-width: 1200px;
    margin: 0 auto;
}



/* fatured section style  */
.featured-section {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;


}

.featured-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;

}

.featured-discription {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;

}

/* image section style  */

.image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 24px;
    margin-top: 100px;
    margin-bottom: 100px;
}


.image-bg {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    background-image: url(../image/pngwing\ 6.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;


}

.image-bg1 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
    background-image: url(../image/pngwing\ 5.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;


}

.image-bg2 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);
    background-image: url(../image/pngwing\ 7.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;


}

.img-link {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}

/* container style  */

.container-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    padding: 70px 130px;
    text-align: center;
    gap: 80px;

}

.container-discription {
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    margin-top: 15px;
}

/* Hor deal style section  */

.hot-deal-section {

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 300px;
    gap: 180px;
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);
    margin-top: 100px;


}


.hot-deal-item {
    text-align: center;
}

.hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

.off-color {
    color: #E55473;

}

.hot-deal-discription {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

/* imaage gallery style  */
.img-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    margin-top: 100px;
}

/* latest section style  */

.latest-section {

    background-image: url('../image/Rectangle\ 9.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 1200px;
    height: 400px;
    margin-top: 100px;
}

.latest-deal-item {
    padding: 120px 280px;
}

.latest-deal-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.latest-deal-discription {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

input[type="email"] {
    width: 600px;
    height: 30px;
    border-radius: 8px;
    background-color: #FFF;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    border: 0;
    padding: 22px;
    margin-top: 10px;
}

.form-part {
    display: flex;
    align-items: center;
    gap: 15px;
}

.submit-btn {
    height: 60px;
    width: 150px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background-color: #E55473;
    padding: 15px 25px;
    border: 0;

}

/* Footer section style  */
footer {
    background-color: #111010;
    text-align: center;
    padding: 200px;
    margin-top:100px ;
}

.footer-title {
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 10px;
}

.footer-discription {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 15px;
}

small {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}